:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary-text: #efebeb;

  --color-primary: #ee87f6;
  --color-primary-hover: #d861e3;

  --color-btn-ghost-hover: rgba(255, 255, 255, 0.05);

  --color-tooltip: #151414;

  a {
    text-decoration: none;
  }

}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.emphasized-text {
  color: var(--color-primary);
}

.link {
  color: var(--color-primary);
  text-decoration: underline !important;
  transition: color 150ms;

  &:hover {
    color: var(--color-primary-hover);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    --color-primary-text: #242424;

    --color-primary: #db64ea;
    --color-primary-hover: #ac2bc0;

    --color-btn-ghost-hover: rgba(0, 0, 0, 0.05);

    --color-tooltip: #e5e5e5;
  }
}
